/* .social-container {
    position: fixed;
    left: 20px;
    top: 40%;
    display: grid;
    gap: 10px;
} 
.social-container li {
    font-size: 25px;
    border: solid;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e2e2e2 ;
    color: rgb(72, 71, 71);
    border: none;
    cursor: pointer;
}
.social-container li:hover {
    color: #fff;
    background-color: #0093E9;
background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    border: none;
} */

.social-container {
    position: fixed;
    left: 20px;
    top: 40%;
    display: grid;
    gap: 10px;
} 

a {
    margin: 0;
    padding: 0;
    line-height: normal;
    text-decoration: none;

    width: 42px;
    height: 42px;
    background-color: rgba(217, 217, 217, 0.1);
    display: inline-flex;
    border-radius: 50%;
    margin-right: 6px;
    align-items: center;
    justify-content: center;
    line-height: 1;
    border: 1px solid rgba(red, green, blue, 0.5);
}

a::before {
    content: "";
    width: 42px;
    height: 42px;
    position: absolute;
    background-color: #ffffff;
    border-radius: 50%;
    transform: scale(0);
    transition: 0.3s ease-in-out;
}

a:hover::before {
    transform: scale(1);
}

a i {
    width: 40%;
    z-index: 1;
    transition: 0.3s ease-in-out;
}

a:hover i {
    filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(98%) hue-rotate(346deg) brightness(95%) contrast(86%);
}