@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

html,
body {
	margin: 0;
	min-height: 100vh;
	overflow-x: hidden;
}

body {
	background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
	margin: 0 80px;
}

* {
	font-family: 'Poppins', sans-serif;
	box-sizing: border-box;
}

li {
	list-style: none;
}

header {
	padding: 20px 0px 10px;
	display: grid;
	grid-template-columns: 100px 1fr 100px;
	place-items: center;
	align-content: center;
}

.logo-container {}

.logo {
	border: solid;
	height: 40px;
}

.nav-links {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.nav-link {
	font-size: 15px;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 1px;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.nav-link:hover {
	color: rgb(107, 233, 233);
	text-decoration: wavy;
}

.underline {
	background-color: gold;
	width: 0;
	height: 2px;
	transition: width 0.3s;
}

.nav-link:hover .underline {
	width: 50px;
}

.contact-container {
	font-size: 15px;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 1px;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.underline {
	background-color: gold;
	width: 0;
	height: 2px;
	transition: width 0.3s;
}

.contact-container:hover .underline {
	width: 50px;
}

